<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FatStaxBoxes</title>
  </head>
  <body>
    <h1 id="loading">Loading</h1>
    <a-scene
      id="scene"
      auto-enter-vr
      physics="debug: <%= debugPhysics %>; gravity: -5.8;  <%= debugPhysics === 'true' ? 'debugDrawMode: 2049' : '' %>"
    >
      <a-sky color="#cdedcd"></a-sky>

      <a-entity
        cursor="rayOrigin: mouse"
        raycaster="objects: [raycastable]; far: 25"
        line="color: red; opacity: 0.75"
      ></a-entity>
      <a-entity id="camera-rig">
        <a-entity
          id="camera"
          position="0 1.6 0"
          camera
          look-controls
          wasd-controls
          camera-float-motion
        >
        </a-entity>
        <a-entity
          id="leftHand"
          laser-controls="hand: left; defaultModel: null;"
          raycaster="objects: [raycastable]; far: 25"
          line="color: red; opacity: 0.75"
        >
          <a-box width="0.1" height="0.1" depth="0.1" color="#993344"></a-box>
        </a-entity>
        <a-entity
          id="rightHand"
          laser-controls="hand: right; defaultModel: null;"
          raycaster="objects: [raycastable]; far: 25"
          line="color: red; opacity: 0.75"
        >
          <a-box width="0.1" height="0.1" depth="0.1" color="#334499"></a-box>
        </a-entity>
      </a-entity>
    </a-scene>
  </body>
</html>
