<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FatStaxBoxes</title>
  </head>
  <body>
    <h1 id="loading">Loading</h1>
    <a-scene
      id="scene"
      auto-enter-vr
      fog="type: linear; color: #eee; near: 1; far: 10;"
      physics="friction: 0.1; iterations: 5; debug: <%= debugPhysics %>; gravity: -2;  <%= debugPhysics === 'true' ? 'debugDrawMode: 2049' : '' %>"
    >
      <a-assets>
        <img id="rough" src="/assets/rough.jpg" alt="" />
      </a-assets>
      <a-sky color="#cdedcd"></a-sky>
      <a-plane
        position="0 0 -4"
        rotation="-90 0 0"
        width="500"
        height="500"
        color="#575575"
        static-body
      ></a-plane>
      <a-entity light="type: ambient; color: #FFF; intensity: 0.7"></a-entity>
      <a-entity
        light="type: directional; color: #FFF; intensity: 0.5;"
        position="0 15 20"
      ></a-entity>
      <a-entity
        light="type: directional; color: #FFF; intensity: 0.25;"
        position="15 15 20"
      ></a-entity>

      <a-entity
        cursor="rayOrigin: mouse"
        raycaster="objects: [block-interact]; far: 25"
        line="color: red; opacity: 0.75"
      ></a-entity>
      <a-entity id="camera-rig">
        <a-entity
          id="camera"
          position="0 1.6 0"
          camera
          look-controls
          wasd-controls
          camera-float-motion
        >
        </a-entity>
        <a-entity
          id="leftHand"
          debug-controller
          laser-controls="hand: left; model: false;"
          raycaster="objects: [block-interact]; far: 25"
          line="color: red; opacity: 0.75"
        >
          <a-box
            width="0.1"
            height="0.1"
            depth="0.1"
            color="#993344"
            static-body
          ></a-box>
        </a-entity>
        <a-entity
          id="rightHand"
          debug-controller
          laser-controls="hand: right; model: false;"
          raycaster="objects: [block-interact]; far: 25"
          line="color: red; opacity: 0.75"
        >
          <a-box
            width="0.1"
            height="0.1"
            depth="0.1"
            color="#339944"
            static-body
          ></a-box>
        </a-entity>
      </a-entity>
    </a-scene>
  </body>
</html>
